// Placeholder for variables, colors, mixins etc.

// Example of variable
$color-primary: #9b1d20ff;
$color-text: #020402ff;
$color-bg: #e8f1f2ff;
$color-disable: #4D4D4D;

$mobile: 768px;

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap');

@font-face {
  font-family: "Pokemon Solid";
  src: url(../assets/PokemonSolid.ttf);
} 

@mixin transition-ease {
    transition: all .5s ease-in-out;
}
  
@mixin boxshadow {
    box-shadow: 1px 1px 3px $color-text;
}

@mixin dropshadow {
  filter: drop-shadow(1px 1px 3px $color-text);
}

@mixin button {
  text-align: center;
  background-color: $color-text;
  color: $color-bg;
  padding: 0.3em;
  margin: 0.5em;
  border-radius: 1em;
  font-size: 0.9em;
  @include boxshadow;

  &:hover {
      background-color: $color-primary;
  }  
}

@mixin desktop {
    @media screen and (min-width: $mobile) {
      @content;
    }
}

@mixin centerpokeball {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}