// Styles for loading screen. Common elements should be added to _config.scss in mixins.
#loading-view {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 10vw;
  background-color: $color-bg;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include transition-ease;

  p {
    max-width: 400px;
    text-align: center;
    margin-bottom: 1em;
    @include transition-ease;
  }

  img {
    width: fit-content;
    @include transition-ease;
  }

  #zzz {
    position: relative;
    left: 50px;
  }
}