// Styles for pokemon choosing screen. Common elements should be added to _config.scss in mixins.

#choose-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 5vh 2.5vh;

    > * {
        flex: 1 1 20%;
        text-align: center;
        font-weight: 900;
    }

    p {
        font-size: 2.2vh;
        display: grid;
        align-items: center;
        padding: 1vh 0;
    }

    h1 {
        font-size: 5vh;
        display: grid;
        align-items: center;
        font-family: "Pokemon Solid";
    }

    #whoChoosesParagraph {
        font-size: 3vh;
        color: $color-primary;
    }

    .choosePagePlayers {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        justify-items: center;
        max-height: 18%;
        .choosePagePlayersName {
            grid-column: span 3;
            padding: 0.5vh;
        }
        img {
            max-width: 7vh;
            flex: 0 1;
            padding: 0 0.8vh;
        }
    }

    #pokemonList{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        img {
            max-height: 8.5vh;
            padding: 0.8vh 0.5vh;
        }
    }
}    
