// Styles for start page. Common elements should be added to _config.scss in mixins.
#starting-page {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    #header-with-enter-name-manu {
        background-color: $color-red;
        padding-left: 10vw;
        padding-right: 10vw;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;

        .headerWrapper {
            max-width: 500px;
            height: 50vh;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            .gameTitle {
                text-align: center;
            }

            .startInstruction {
                text-align: center;
            }

            #enter-name-area {
                // overflow: auto;
                display: flex;
                justify-content: space-around;
                
                .playerNameInput {
                    width: 40%;
                }

            }
            
        }     
    }

    #start-game-border {
        background-color: $color-black;
        padding-left: 10vw;
        padding-right: 10vw;
        width: 100%;
        height: 20px;

        #start-game-bg1 {
            @include centerpokeball;
            background-color: $color-black;
            width: 200px;
            height: 200px;

            #start-game-bg2 {
                @include centerpokeball;
                background-color: $color-white;
                width: 160px;
                height: 160px;

                #start-game-btn {
                    @include centerpokeball;
                    @include boxshadow;
                    background-color: $color-red;
                    width: 130px;
                    height: 130px;
                }
            }
        }
    }

    #info-menu {
        background-color: $color-white;
        padding-left: 10vw;
        padding-right: 10vw;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        

        #select-info-menu {
            max-width: 500px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            
            .start-page-button {
                text-align: center;
                list-style: none;
            }
        }
        
    }
}