@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Pokemon Solid";
  src: url(../assets/PokemonSolid.ttf);
}

#loading-view {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 10vw;
  background-color: #e8f1f2ff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#loading-view p {
  max-width: 400px;
  text-align: center;
  margin-bottom: 1em;
}

#loading-view img {
  width: fit-content;
}

#loading-view #zzz {
  position: relative;
  left: 50px;
  filter: drop-shadow(2px 2px 2px #020402ff);
}

#starting-page {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#starting-page #header-with-enter-name-manu {
  background-color: #9b1d20ff;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#starting-page #header-with-enter-name-manu .headerWrapper {
  max-width: 500px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
  color: #e8f1f2ff;
}

#starting-page #header-with-enter-name-manu .headerWrapper p, #starting-page #header-with-enter-name-manu .headerWrapper div {
  margin: 5px;
}

#starting-page #header-with-enter-name-manu .headerWrapper input {
  border: none;
  background-color: #9b1d20ff;
  text-align: center;
  color: #e8f1f2ff;
  font-family: 'Bellota Text', cursive;
  font-size: 0.8em;
}

#starting-page #header-with-enter-name-manu .headerWrapper input:hover {
  opacity: 0.7;
}

#starting-page #header-with-enter-name-manu .headerWrapper .gameTitle {
  text-align: center;
  font-family: 'Pokemon Solid';
  font-size: 1.2em;
}

#starting-page #header-with-enter-name-manu .headerWrapper .startInstruction {
  text-align: center;
  font-size: 0.7em;
}

#starting-page #header-with-enter-name-manu .headerWrapper #enter-name-area {
  display: flex;
  justify-content: space-around;
}

#starting-page #header-with-enter-name-manu .headerWrapper #enter-name-area .playerNameInput {
  width: 40%;
}

#starting-page #start-game-border {
  background-color: #020402ff;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  height: 20px;
}

#starting-page #start-game-border #start-game-bg1 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-color: #020402ff;
  width: 200px;
  height: 200px;
}

#starting-page #start-game-border #start-game-bg1 #start-game-bg2 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-color: #e8f1f2ff;
  width: 160px;
  height: 160px;
}

#starting-page #start-game-border #start-game-bg1 #start-game-bg2 #start-game-btn {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  box-shadow: 2px 2px 2px #020402ff;
  background-color: #9b1d20ff;
  width: 130px;
  height: 130px;
  text-align: center;
  font-family: 'Pokemon Solid';
  font-size: 1em;
  color: #9b1d20ff;
  padding-top: 15%;
}

#starting-page #start-game-border #start-game-bg1 #start-game-bg2 #start-game-btn:hover {
  background-color: #e8f1f2ff;
  color: #020402ff;
}

#starting-page #info-menu {
  background-color: #e8f1f2ff;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#starting-page #info-menu #select-info-menu {
  width: 240px;
  height: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-top: 80px;
}

#starting-page #info-menu #select-info-menu .start-page-button {
  text-align: center;
  list-style: none;
  background-color: #020402ff;
  color: #e8f1f2ff;
  padding: 0.3em;
  margin: 0.5em;
  border-radius: 1em;
}

#starting-page #info-menu #select-info-menu .start-page-button:hover {
  box-shadow: 2px 2px 2px #020402ff;
  background-color: #9b1d20ff;
}

.popupScreen {
  background-color: #9b1d20ff;
  padding: 15vw;
  width: 100%;
  height: 100vh;
}

.popupScreen .popupScreenArea {
  box-shadow: 2px 2px 2px #020402ff;
  background-color: #e8f1f2ff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 20px;
  position: re;
}

.popupScreen .popupScreenArea .exitBtn, .popupScreen .popupScreenArea .modalHeader, .popupScreen .popupScreenArea .modalParagraph {
  font-family: 'Pokemon Solid';
  color: #020402ff;
}

.popupScreen .popupScreenArea .exitBtn {
  align-self: flex-end;
  line-height: 1;
}

.popupScreen .popupScreenArea .modalHeader {
  font-size: 1em;
}

.popupScreen .popupScreenArea .modalParagraph {
  font-size: 0.3em;
}

@media screen and (min-width: 768px) {
  #starting-page #header-with-enter-name-manu .headerWrapper {
    max-width: 700px;
    height: 300px;
  }
  #starting-page #header-with-enter-name-manu .headerWrapper input {
    font-size: 1.2em;
  }
  #starting-page #header-with-enter-name-manu .headerWrapper .gameTitle {
    font-size: 3em;
  }
  #starting-page #header-with-enter-name-manu .headerWrapper .startInstruction {
    font-size: 1em;
  }
  #starting-page #header-with-enter-name-manu .headerWrapper #enter-name-area .playerNameInput {
    width: 40%;
  }
  #starting-page #info-menu #select-info-menu {
    width: 350px;
    height: 35vh;
  }
  #starting-page #info-menu #select-info-menu .start-page-button {
    font-size: 1.3em;
  }
}

body {
  font-family: 'Bellota Text', cursive;
  font-size: 2.4em;
  letter-spacing: .05em;
  background-color: #e8f1f2ff;
  color: #020402ff;
}

footer {
  font-size: .5em;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 50%;
  margin-left: .5em;
  transform: rotate(-90deg) translate(-50%);
  transform-origin: top left;
  white-space: nowrap;
}
/*# sourceMappingURL=app.css.map */