@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Pokemon Solid";
  src: url(../assets/PokemonSolid.ttf);
}

#loading-view {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 10vw;
  background-color: #e8f1f2ff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}

#loading-view p {
  max-width: 400px;
  text-align: center;
  margin-bottom: 1em;
  transition: all .5s ease-in-out;
}

#loading-view img {
  width: fit-content;
  transition: all .5s ease-in-out;
}

#loading-view #zzz {
  position: relative;
  left: 50px;
  filter: drop-shadow(1px 1px 3px #020402ff);
}

#starting-page {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#starting-page #header-with-enter-name-manu {
  background-color: #9b1d20ff;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#starting-page #header-with-enter-name-manu .headerWrapper {
  max-width: 500px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
  color: #e8f1f2ff;
}

#starting-page #header-with-enter-name-manu .headerWrapper p, #starting-page #header-with-enter-name-manu .headerWrapper div {
  margin: 5px;
}

#starting-page #header-with-enter-name-manu .headerWrapper input {
  border: none;
  background-color: #9b1d20ff;
  text-align: center;
  color: #e8f1f2ff;
  font-family: 'Bellota Text', cursive;
  font-size: 0.8em;
}

#starting-page #header-with-enter-name-manu .headerWrapper input:hover {
  opacity: 0.7;
}

#starting-page #header-with-enter-name-manu .headerWrapper .gameTitle {
  text-align: center;
  font-family: 'Pokemon Solid';
  font-size: 1.2em;
}

#starting-page #header-with-enter-name-manu .headerWrapper .startInstruction {
  text-align: center;
  font-size: 0.7em;
}

#starting-page #header-with-enter-name-manu .headerWrapper #enter-name-area {
  display: flex;
  justify-content: space-around;
}

#starting-page #header-with-enter-name-manu .headerWrapper #enter-name-area .playerNameInput {
  width: 40%;
}

#starting-page #start-game-border {
  background-color: #020402ff;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  height: 15px;
}

#starting-page #start-game-border #start-game-bg1 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-color: #020402ff;
  width: 160px;
  height: 160px;
}

#starting-page #start-game-border #start-game-bg1 #start-game-bg2 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-color: #e8f1f2ff;
  width: 130px;
  height: 130px;
}

#starting-page #start-game-border #start-game-bg1 #start-game-bg2 #start-game-button {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  box-shadow: 1px 1px 3px #020402ff;
  width: 110px;
  height: 110px;
  text-align: center;
  font-family: 'Pokemon Solid';
  font-size: 1em;
  padding-top: 15%;
}

#starting-page #start-game-border #start-game-bg1 #start-game-bg2 #start-game-button:hover {
  filter: drop-shadow(1px 1px 3px #020402ff);
}

#starting-page #start-game-border #start-game-bg1 #start-game-bg2 .button {
  background-color: #e8f1f2ff;
  color: #020402ff;
}

#starting-page #start-game-border #start-game-bg1 #start-game-bg2 .button-disabled {
  background-color: #9b1d20ff;
  color: #9b1d20ff;
}

#starting-page #info-menu {
  background-color: #e8f1f2ff;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#starting-page #info-menu #select-info-menu {
  width: 240px;
  height: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-top: 80px;
}

#starting-page #info-menu #select-info-menu .start-page-button {
  text-align: center;
  list-style: none;
  background-color: #020402ff;
  color: #e8f1f2ff;
  padding: 0.3em;
  border-radius: 1em;
  font-size: 0.9em;
  cursor: pointer;
}

#starting-page #info-menu #select-info-menu .start-page-button:hover {
  box-shadow: 1px 1px 3px #020402ff;
  background-color: #9b1d20ff;
}

.popupScreen {
  box-shadow: 1px 1px 3px #020402ff;
  background-color: #e8f1f2ff;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  width: 80vw;
  height: 80vh;
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -40vw;
  margin-bottom: -40vh;
  z-index: 2;
}

.popupScreen .exitButton, .popupScreen .modalHeader, .popupScreen .modalParagraph {
  font-family: 'Pokemon Solid';
  color: #020402ff;
}

.popupScreen .exitButton {
  align-self: flex-end;
  line-height: 1;
  margin: 2vh;
  user-select: none;
  cursor: pointer;
}

.popupScreen .modalHeader {
  font-size: 1em;
}

.popupScreen .modalParagraph {
  font-size: 0.3em;
}

#choose-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  line-height: 1.2;
  padding: 2vh;
}

#choose-page p {
  font-size: 16px;
  text-align: center;
}

#choose-page h1 {
  font-size: 28px;
  font-family: "Pokemon Solid";
}

#choose-page #whoChoosesParagraph {
  color: #9b1d20ff;
  font-size: 20px;
}

#choose-page .choosePagePlayers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}

#choose-page .choosePagePlayers .choosePagePlayersName {
  grid-column: span 3;
}

#choose-page .choosePagePlayers img {
  max-width: 7vh;
  padding: 0 0.8vh;
}

#choose-page #pokemonList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

#choose-page #pokemonList img {
  max-height: 8.5vh;
  padding: 0.8vh 0.5vh;
  cursor: pointer;
}

#fight-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#fight-page .playersContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#fight-page .playersContainer .playerDetails {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}

#fight-page .playersContainer .playerDetails h2 {
  font-family: 'Pokemon Solid';
  font-size: 1.8rem;
  letter-spacing: .2rem;
  grid-column: span 3;
}

#fight-page .playersContainer .playerDetails .pokeballWithPokemon {
  width: 20px;
  filter: drop-shadow(1px 1px 3px #020402ff);
  margin: 0 2px;
}

#fight-page .playersContainer .playerDetails .disabledPokemon {
  filter: grayscale(100%);
}

#fight-page .playersContainer .activePlayer {
  color: #9b1d20ff;
  border-bottom: 3px solid #9b1d20ff;
}

#fight-page .activePlayerInfo {
  text-align: center;
  width: 80%;
  font-size: 1.8rem;
  margin: 25px auto;
}

#fight-page .battleArea {
  width: 90%;
}

#fight-page .battleArea .pokemonDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#fight-page .battleArea .pokemonDetails img {
  width: fit-content;
}

#fight-page .battleArea .pokemonDetails #pokemon-player2 {
  order: 2;
}

#fight-page .battleArea .pokemonDetails .pokemonInfo {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#fight-page .battleArea .pokemonDetails .pokemonInfo h2 {
  font-family: 'Pokemon Solid';
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: .2rem;
  text-align: center;
  width: 100%;
  text-align: center;
}

#fight-page .battleArea .pokemonDetails .pokemonInfo .hpProgressBar {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: first;
}

#fight-page .battleArea .pokemonDetails .pokemonInfo .hpProgressBar .hpBar {
  grid-column: span 5;
  width: 100%;
  height: 1.8rem;
  background-color: #0C9300;
  box-shadow: 1px 1px 3px #020402ff;
  transform-origin: left center;
  border-radius: 10px;
  margin-top: 1rem;
}

#fight-page .battleArea .pokemonDetails .pokemonInfo .hpProgressBar #hp-bar-player2 {
  width: 20%;
  background-color: #9b1d20ff;
}

#fight-page .gameActions {
  width: 90%;
  max-height: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 25px;
}

#fight-page .gameActions .gameLogs {
  height: 10vh;
  width: 100%;
  box-shadow: 1px 1px 3px #020402ff;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.6rem;
  overflow-y: scroll;
}

#fight-page .gameActions .gameLogs p {
  margin: 10px auto;
  color: #020402ff;
  font-weight: bold;
}

#fight-page .gameActions .gameLogs p:nth-child(2n) {
  color: #9b1d20ff;
}

#fight-page .gameActions .gameLogs::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: transparent;
}

#fight-page .gameActions .gameLogs::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

#fight-page .gameActions .gameLogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #020402ff;
}

#fight-page .gameActions .buttonsContainer {
  width: 80%;
}

@media screen and (min-width: 768px) {
  #starting-page #header-with-enter-name-manu .headerWrapper {
    max-width: 700px;
    height: 300px;
  }
  #starting-page #header-with-enter-name-manu .headerWrapper input {
    font-size: 1.2em;
  }
  #starting-page #header-with-enter-name-manu .headerWrapper .gameTitle {
    font-size: 3em;
  }
  #starting-page #header-with-enter-name-manu .headerWrapper .startInstruction {
    font-size: 1em;
  }
  #starting-page #header-with-enter-name-manu .headerWrapper #enter-name-area .playerNameInput {
    width: 40%;
  }
  #starting-page #start-game-border {
    height: 20px;
  }
  #starting-page #start-game-border #start-game-bg1 {
    width: 200px;
    height: 200px;
  }
  #starting-page #start-game-border #start-game-bg1 #start-game-bg2 {
    width: 160px;
    height: 160px;
  }
  #starting-page #start-game-border #start-game-bg1 #start-game-bg2 #start-game-button {
    width: 130px;
    height: 130px;
  }
  #starting-page #info-menu #select-info-menu {
    width: 350px;
    height: 35vh;
  }
  #starting-page #info-menu #select-info-menu .start-page-button {
    font-size: 1em;
  }
  .popupScreen {
    width: 70vw;
    margin-left: -35vw;
  }
  #choose-page {
    padding: 5vh;
  }
  #choose-page p {
    font-size: 20px;
  }
  #choose-page h1 {
    font-size: 40px;
  }
  #choose-page #whoChoosesParagraph {
    font-size: 24px;
  }
  #choose-page .choosePagePlayers {
    grid-template-columns: repeat(6, 1fr);
  }
  #choose-page .choosePagePlayers img {
    max-width: 8vh;
    margin: 2vh;
  }
  #choose-page #pokemonList {
    grid-template-columns: repeat(6, 1fr);
  }
  #choose-page #pokemonList img {
    max-height: 10vh;
  }
  #fight-page .playersContainer .playerDetails h2 {
    font-size: 3rem;
  }
  #fight-page .playersContainer .playerDetails .pokeballWithPokemon {
    width: 30px;
    margin: 0 5px;
  }
  #fight-page .playersContainer .activePlayerInfo {
    font-size: 2.4rem;
  }
  #fight-page .battleArea {
    display: flex;
  }
  #fight-page .battleArea .pokemonDetails {
    flex-flow: column;
    align-items: center;
  }
  #fight-page .battleArea .pokemonDetails #pokemon-player2 {
    order: 0;
  }
  #fight-page .gameActions {
    flex-flow: row;
    justify-content: space-evenly;
  }
  #fight-page .gameActions .gameLogs {
    height: auto;
    max-height: 30vh;
    width: 45%;
    order: 2;
  }
  #fight-page .gameActions .buttonsContainer {
    width: 45%;
  }
}

body {
  font-family: 'Bellota Text', cursive;
  font-size: 2.4em;
  letter-spacing: .05em;
  background-color: #e8f1f2ff;
  color: #020402ff;
}

#app {
  height: 100vh;
  width: 100%;
}

footer {
  font-size: .5em;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 50%;
  margin-left: .5em;
  transform: rotate(-90deg) translate(-50%);
  transform-origin: top left;
  white-space: nowrap;
}

.button {
  text-align: center;
  background-color: #020402ff;
  color: #e8f1f2ff;
  padding: 0.3em;
  margin: 0.5em;
  border-radius: 1em;
  font-size: 0.9em;
  box-shadow: 1px 1px 3px #020402ff;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #9b1d20ff;
}

.battleButton {
  background-color: #e8f1f2ff;
  color: #020402ff;
}

.disabledButton {
  background-color: #4D4D4D;
  color: #e8f1f2ff;
  cursor: not-allowed;
}

.disabledButton:hover {
  background-color: #4D4D4D;
}
/*# sourceMappingURL=app.css.map */